{% comment %}
    getting css file
{% endcomment %}
{{'product.css' | asset_url | stylesheet_tag}}

{% comment %}
    starting schema
{% endcomment %}

{% schema %}
{
    "name": "chosen products",
    "settings": [
        {
           "type": "text",
           "id": "title",
           "label": "write title"  
        },
        {
           "type": "product",
           "id": "product_1",
           "label": "write product 1"  
        },
        {
           "type": "product",
           "id": "product_2",
           "label": "write product 2"  
        },
        {
           "type": "product",
           "id": "product_3",
           "label": "write product 3"  
        },
        {
           "type": "product",
           "id": "product_4",
           "label": "write product 4"  
        },
        {
           "type": "product",
           "id": "product_5",
           "label": "write product 5"  
        },
        {
           "type": "product",
           "id": "product_6",
           "label": "write product 6"  
        },
        {
           "type": "text",
           "id": "currency",
           "label": "write currency"  
        }
    ]

}
{% endschema %}

{% comment %}
    end schema
{% endcomment %}


{% comment %}
    product section
{% endcomment %}

<div class="products-section">
    <h2>{{section.settings.title}}</h2>
    {% comment %}
        getting 6 products
    {% endcomment %}
    {% assign your_product = "" %}
    {% for i in (1..6) %}
        {% assign product_id = "product_" | append: i  %}
        {% assign handle = section.settings[product_id]  %}
        {% if handle != blank %}
            {% comment %}
                making line of handls for spliting the into array
            {% endcomment %}
            {% assign your_product = your_product | append: handle | append: " " %}
        {% endif %}
    {% endfor %}
    {% assign product_array = your_product | split: " " | compact %}
    {% comment %}
        if there are items in product array , we will loop on array and display product in grid system
    {% endcomment %}
    {% if product_array.size > 0 %}
        <div class="products-grid">
            {% for handle in product_array  %}
                {% assign product = all_products[handle] %}
                {% if product %}
                    <div class="product-card">
                        <img
                            class="product-img"
                            src="{{product.featured_image | image_url}}"
                        />
                    </div>
                    {% comment %}
                         creating popup for product details
                    {% endcomment %}
                    <div class="popup-container d-none">
                        <div class="popup-card">
                            <div class="remove-popup-icon">
                                    <svg class="rotate" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" >
                                    <path d="M1 13.9994L13.7279 1.2715" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M1 1L13.7279 13.7279" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    />
                                    </svg>  
                            </div>
                            <div class="popup-product-details">
                                <div class="img-popup-container">
                                    <img
                                        class="popup-img"
                                        src="{{product.featured_image | image_url}}"
                                    />
                                </div>
                                <div class="details-popup-container">
                                   <h3>{{product.title}}</h3>
                                   <p class = "product-money">{{product.price}}{{section.settings.currency}}</p>
                                   <span class = "product-description">{{product.description}}</span>
                                </div>
                            </div>
                            {% comment %}
                                display varains by collecting all items of on option into an array and then looping on this arry to display option items
                            {% endcomment %}
                            <div class="variant-form">
                                <p class="variant-title">color</p>
                                <div class="variant-colors switch">
                                    {% assign variant_colors = product.variants | map: "option2" | uniq %}
                                    {% for color in variant_colors %}
                                        <div class="variant-color-container ">                                                    
                                            <label for="{{product.id}}-{{color}}" class="color-show" style="background-color: {{color}}; color: {{color}};">.</label>                                            
                                            <div class="color-name" >
                                                <input type="radio" name="color" value="{{color}}" id="{{product.id}}-{{color}}" class="switch-input input-{{forloop.index}}">
                                                <label for="{{product.id}}-{{color}}" class="switch-label switch-label-off">
                                                    {{color}}
                                                </label>                                            
                                            </div>                                            
                                        </div>
                                    {% endfor %}
                                    {% comment %}
                                        span for making sliding radio animation
                                    {% endcomment %}
                                    <span class="switch-selection">.</span>

                                </div>
                                <div class="variant-size">
                                    <p class="variant-title">size</p>
                                    <div class="select-container">                           
                                        <select name="size" id="sizeDropdown">
                                            <option disabled selected hidden>choose your size</option>
                                            {% assign variant_sizes = product.variants | map: "option1" | uniq %}
                                            {% for size in variant_sizes %}
                                                <option value="{{size}}" >{{size}}</option>    
                                            {% endfor %}
                                        </select>
                                        <span class="select-arrow ">
                                            <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2 2L8 8L14 2" stroke="black" stroke-width="1.5" stroke-linecap="square"/>
                                            </svg>
                                        </span>
                                        {% comment %}
                                            the next div for making border to arrow container
                                        {% endcomment %}
                                        <div class="svg-border">.</div>
                                    </div>
                                </div>
                                {% comment %}
                                    add to cart button
                                {% endcomment %}
                                <button  class="add-to-cart-btn" id="addToCart-{{product.id}}">
                                    <span>Add to cart</span>
                                    <svg width="27" height="12" viewBox="0 0 27 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 5.25C0.585786 5.25 0.25 5.58579 0.25 6C0.25 6.41421 0.585786 6.75 1 6.75L1 5.25ZM26.5303 6.53033C26.8232 6.23743 26.8232 5.76256 26.5303 5.46967L21.7574 0.696697C21.4645 0.403804 20.9896 0.403804 20.6967 0.696697C20.4038 0.989591 20.4038 1.46446 20.6967 1.75736L24.9393 6L20.6967 10.2426C20.4038 10.5355 20.4038 11.0104 20.6967 11.3033C20.9896 11.5962 21.4645 11.5962 21.7574 11.3033L26.5303 6.53033ZM1 6.75L26 6.75L26 5.25L1 5.25L1 6.75Z" fill="#FFFFFF"/>
                                    </svg>
                                </button>
                                {% comment %}
                                    the next input is hidden input for sending handle value to javaScript file to use it in add to cart function
                                {% endcomment %}
                                <input hidden value="{{product.handle}}.js">
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    {% endif %}
</div>
{% comment %}
        connect liquid file with javaScript file
{% endcomment %}
    <script
    src="{{ 'products.js' | asset_url}}"
    >
    </script>

